
#fieldElement {
    line-height: 10px;
}

.cell {

    display: inline-block;
    width: 10px;
    height: 10px;
    overflow: hidden;
    background-color: white;
    outline: 1px solid black;
}

.cell.bomb {
    background-color: black;
}

.cell.check {
    background-color: gray;
}

.cell.num {
    background-color: gray;
    font: 9px sans-serif;
}

.cell.flag {
    background-color: red;
}


body {
    text-align: center;
    background: #00ecb9;
    font-family: sans-serif;
    font-weight: 100;
}

.countdown-title {
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}

.countdown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

.countdown-number {
    padding: 10px;
    border-radius: 3px;
    background: #00bf96;
    display: inline-block;
}

.countdown-time {
    padding: 15px;
    border-radius: 3px;
    background: #00816a;
    display: inline-block;
}

.countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
}